#bonusText {
    position: absolute;
    bottom: 100px;
    left: 90%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-shadow:
      1px 1px 0 #181d07,
      2px 2px 0 #0f1b01,
      3px 3px 0 #0a1306;
    display: none;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    pointer-events: none;
    z-index: 3000;
    opacity: 0;
  }

  #bonusText.active {
    display: flex;
    animation: floatUp 3s ease-out forwards;
  }

  @keyframes floatUp {
    from {
      opacity: 1;
      font-size: 20px;
      transform: translateX(var(--x, 0)) translateY(0);
    }
    to {
      opacity: 0;
      font-size: 50px;
      transform: translateX(var(--x, 0)) translateY(-500px);
    }
  }

  .glowing-ball{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    pointer-events: none; /* so it doesn’t block mouse clicks */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/glowingBall.svg") no-repeat center center;
    background-size: contain;
    color: white;
    font-size: 14px;
    z-index: 1500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  .glowing-ball-text{
    padding-top: 39px;
  }